.formdata{
	width: 600px;
	margin: 80px auto;
	border: 1px solid grey;
}

form{
	margin: 20px 20px;
}

h2{
	margin: 20px 20px;
	border-bottom: 3px solid grey;
	text-align: center;
}

button{
	margin-top: 40px;
}
label{
	margin-top: 20px;
}